.DogList h1 {
  /* font-family: inherit; */
  font-family: "Langar", cursive;
}

.DogList-img {
  width: 300px;
  height: 300px;
  /* doubt */
  filter: grayscale();
  border-radius: 50%;
  transition: 0.4s ease;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Dog:hover img {
  filter: none;
}

.Dog h3 {
  font-family: "Langar", cursive;
  display: inline-block;
  text-decoration: none;
  /* text-align: center; */
  /* doubt */
  border: 4px solid transparent;
  vertical-align: top;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.3em;
  font-size: 1.4rem;
  margin: 10px;
  position: relative;
}

.Dog h3::after {
  width: 0%;
  height: 5px;
  background-color: azure;
  position: absolute;
  display: block;
  top: 34px;
  left: 50%;
  content: " ";
  transition: left 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Dog:hover h3::after {
  width: 100%;
  top: 34px;
  left: 0;
}

@media (max-width: 370px) {
  .DogList h1 {
    font-size: 80px;
  }

  .DogList-img {
    height: 250px;
    width: 250px;
  }

  .Box {
    margin-bottom: 5em;
  }
}
